:root {
    --primary-colour: rgb(100, 142, 210);
    --accent-colour: rgb(67, 116, 196);
    --secondary-colour: rgb(231, 239, 253);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

*:not(dialog) {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}

body {
    height: 100vh;
    color: var(--secondary-colour);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: var(--secondary-colour);
}

.main-content {
    height: 100%;
}

header {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 2rem;
    background-color: var(--primary-colour);
}

.book-wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    grid-auto-rows: 20rem;
    gap: 2rem;
    padding: 2rem;
}

.book-container {
    perspective: 1000px;
}

.book-card {
    height: 100%;
    width: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1500ms;
    font-weight: bold;
    font-size: 1.2rem;
}

.book-card-flip {
    transform: rotateY(180deg);
}

.front-of-card,
.back-of-card {
    height: 100%;
    width: 100%;
    box-shadow: rgba(50, 50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden;
    background-color: var(--primary-colour);
}

.front-of-card {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 250ms;
}

.back-of-card {
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
}

.front-of-card:hover {
    transform: scale(1.08);
    background-color: var(--accent-colour);
}

.delete-button {
    border: none;
    background-color: var(--accent-colour);
    color: var(--secondary-colour);
    padding: 0.45rem;
    cursor: pointer;
}

#add-button {
    position: fixed;
    right: 2rem;
    bottom: 2rem;

    border: none;
    background-color: var(--primary-colour);
    padding: 0;
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
    width: 4rem;
    height: 4rem;
    line-height: 0;
    cursor: pointer;
    color: var(--secondary-colour);
    transition: 250ms;
}

#add-button:hover {
    border-radius: 1rem;
    color: var(--primary-colour);
    background-color: var(--secondary-colour);
}

#book-dialog {
    width: 50%;
    height: 80%;
}